* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    /* font-family: 'Open Sans', serif; */
    font-family: 'Josefin Sans', sans-serif;
    color: #535454;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f1f1f1;
}

header {
    display: flex;
    background-color: #5a2be2;
    color: white;
    height: 3vh;
    flex: 1 100%;
}

.header-title {
    flex: 1;          /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
    display: flex;    
    align-items: center;
    justify-content: flex-end;
}

.header-middle {
    flex: 1;
    opacity: 0;
}

.header-title-empty-space{
    flex: 1;
}

.header-title-text{
    flex: 1;
}

.right-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-header .fa {
    font-size: 1.5rem;
}

.right-header .fa {
    margin-left: 0.6rem;
}  

main {
    margin: 0;
    /* height: 87vh; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;    
}

main aside {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    align-items: center;
    background-color: #615e5e;
    padding-bottom: 3vh;
    justify-content: flex-start;
}

.middle {
    flex: 3;
    display: flex;
    flex-flow: row wrap;
    /* overflow-y: scroll; */
    padding-top: 4vh;
    background-color: white;
    /* height: 97vh; */
    /* height: 90vh; */
}

@media only screen and (max-width: 610px) 
{
    .typewriter {
        display: none;
    }

    .nav-contact {
        display: none !important;
    }
}

@media only screen and (min-width: 610px) {   
}

.middle-top {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 4vh;
}

.middle-top > * {
    flex: 1 1 400px;
}

main article {
    flex: 4;
}

.middle-top-article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 0 0 2rem;
}

.middle-top-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-bottom {
    /* flex: 1 100%; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #f1f1f1;
}

.middle-bottom > p {
    margin: 0.5em 5em 0 5em;
}

.middle-bottom-content {    
    background-color: #ffffff;
    height: auto;
    padding: 1rem 1rem;
    /* border-radius: 0px;
    border-style: solid;
    border-color: azure; */
    box-shadow: 0px 0px 30px 10px #ededed;
    width: 85%;

    display:flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-content: center;
}

footer {
    height: 10vh;
    color: white;
    background-color: #3e2095;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 100%;
}

.middle-top-article h2 {
    margin-bottom: 1em;
}

.middle-top-article p {
    margin-bottom: 1em;
}

.right-header .email {
}

.email {
    /* text-transform: uppercase;
    font-weight: 500; */
    font-family: 'Saira Extra Condensed', serif;
    /* font-size: 1.35rem; */
}

.nav-contact-link {
    cursor: pointer;
    color: white;
}

.nav-fa {
    line-height: 2 !important;
}

.nav-link {
    cursor: pointer;
  }
  
  .tag-pill {
    cursor: pointer;
  }
  
  .me-img {
    /* content:url('/img/dev.jpg'); */
    width: 100%;
    max-width: 400px;
    height: auto;
    justify-content: center;
  }